<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ "/assets/js/script.js" | relative_url }}"></script>
  </head>
  <body>
  	<nav>
  	    <div class="menu-icon">
  	        <div class="line">
  	        </div>
  	        <div class="line">
  	        </div>
  	        <div class="line">
  	        </div>
  	    </div>
  	    <ul class="menu">
  	        <li><a href="/">Home</a></li>
  	        <li>About</li>
  	        <li>Items</li>
  	    </ul>
  	</nav>

  	<main>
    	{{ content}}
	</main>
  </body>
</html>
